.uploadBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}
.uploadingWrapper .title {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 140%;
	color: #000000;
}
.uploadingWrapper .text {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 140%;
	color: rgba(0, 0, 0, 0.6);
}
.uploadBtn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.uploadBtn .text {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	/* line-height: 19px; */
	background: linear-gradient(90deg, #2ea8fa 0%, #076eb3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
