.sidemenu {
	background: black;
	color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* padding: 2rem; */
	font-size: 1.2rem;
	font-weight: 600;
	z-index: 800;
	/* width: 100%; */
}
.sidemenu .secDivider {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 700 !important;
	font-size: 12.8px;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 1rem;
	color: #ffffff;
	opacity: 0.4;
}

.sidemenu .menuItemWrapper {
	height: 15rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-start;
}
.sidemenu .menuItemWrapper .item {
	/* border: 1px solid #fff; */
	padding: 1rem 2rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	width: 100%;
}
.sidemenu .mainMenuItem {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.sidemenu .mainMenuItem + .submenu {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	max-height: 0;
	transition: max-height 0.5s ease;
	overflow-y: hidden;
	/* background-color: #f8f7fd; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.sidemenu .item .mainMenuItem + .submenu.active {
	/* padding-left: 1.5rem; */
	max-height: 500px;
}

@media (max-width: 1200px) {
	.sidemenu {
		overflow: hidden;
	}
}
